<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.scr/menu.application" insertBefore="administration">
        <item screen="scr_User.browse" caption="msg://com.company.scr.screen.user/UserBrowse.caption"/>
        <item screen="scr$Car.browse" caption="msg://com.company.scr.screen.car/carBrowse.caption"/>
        <item screen="scr$Garage.browse" caption="msg://com.company.scr.screen.garage/garageBrowse.caption"/>
        <item screen="scr$TechnicalCertificate.browse"
              caption="msg://com.company.scr.screen.technicalcertificate/technicalCertificateBrowse.caption"/>
        <item screen="scr_DatatypesTestEntity.browse"
              caption="msg://com.company.scr.screen.datatypestestentity/datatypesTestEntityBrowse.caption"/>
    </menu>
    <menu id="sales" caption="msg:///menu_config.sales" insertBefore="administration">
        <item screen="scr_Customer.browse" caption="msg://com.company.scr.screen.customer/customerBrowse.caption"/>
        <item screen="scr_Product.browse" caption="msg://com.company.scr.screen.product/productBrowse.caption"/>
        <item screen="scr_Order.browse" caption="msg://com.company.scr.screen.order/orderBrowse.caption"/>
    </menu>

</menu-config>